<table class="userTable">
    <thead>
      <!-- <h1>Gebruikers</h1> -->
    </thead>
    <tbody>
      <tr *ngFor="let user of users" id="tr{{user.iduser}}">
        <ng-container *ngIf="user.iduser == idtoken">
          <h1>{{user.username}}<span class="fa fa-edit"></span></h1>
          <td>Gebruiksernaam<input class="usernameUser{{user.iduser}}" [value]="user.username" readonly="true"></td>
          <td>Paswoord<input class="passwordUser{{user.iduser}}" [value]="user.user_password" readonly="true"></td>
          <button class="updateUser{{user.iduser}}" (click)="updateUser(user.iduser)">Update</button>
          <button class="saveUser{{user.iduser}}" (click)="updateSaveUser(user.iduser)" style="display: none">Opslaan</button>
          <input type="button" value="Account Verwijderen" (click)="deleteUser(user.iduser)">
      </ng-container>
      </tr>
    </tbody>
  </table>