<div class="userTable">
      <form id="userSettingsForm"> 
        <ul *ngFor="let user of users" id="tr{{user.iduser}}">
          <ng-container *ngIf="user.iduser == idtoken">
            <div>
              <!-- username -->
              <li>
                  <h1>{{user.username}}<span class="fa fa-edit"></span></h1>
              </li>
            </div>

            <!-- profile picture & user data -->
            <div class="userContainer">
              <!-- profile picture -->
              <div class="two_column">
                <li>
                  <div class="imageContainer" [style.background]="user.user_color" [style.border-color]="user.user_color">
                    <img id="profile_picture" alt="profile picture" src="assets/pingu_profile_pictures/{{user.user_profilepic}}">
                  </div>
                  <select id="select_pingu" (change)="pinguPicture($event.target.value, user.iduser)">
                    <option value="0">Selecteer een pingu-profielfoto...</option>
                    <option *ngFor="let pingu of pingu_profile_pic" [value]="pingu.key">{{ pingu.value }}</option>
                  </select>
                  <div id="colorContainer">
                    <span>Kleur: </span><input type="color" id="myColor" [value]="user.user_color" (change)="setColor(user.iduser)"> 
                  </div>
                </li>
              </div>
              <!-- user data -->
              <div class="two_column">
                <li>
                  <p>Gebruiksernaam</p><input type="text" class="usernameUser{{user.iduser}}" [value]="user.username" readonly="true">
                </li>
                <li>
                  <p>E-mailadres</p><input type="email" class="emailUser{{user.iduser}}" [value]="user.user_email" readonly="true">
                </li>
                <li>
                  <p>Status Beschrijving</p><input type="text" class="descriptionUser{{user.iduser}}" [value]="user.user_description" readonly="true">
                </li>
                <li id="flex_row">
                  <div class="two_column">
                    <p>Voornaam</p><input type="text" class="firstnameUser{{user.iduser}}" [value]="user.user_firstname" readonly="true">
                  </div>
                  <div class="two_column">
                    <p>Achternaam</p><input type="text" class="lastnameUser{{user.iduser}}" [value]="user.user_lastname" readonly="true">
                  </div>
                </li>
                <li>
                  <p>Paswoord</p><input type="password" class="passwordUser{{user.iduser}}" readonly="true">
                </li>
                <li>
                  <p>Paswoord herhalen</p><input type="password" class="passwordCheckUser{{user.iduser}}" readonly="true">
                </li>
              </div>
            </div>
            <!-- buttons -->
            <div class="buttonContainer">
              <li id="flex_row">
                <button class="updateUser{{user.iduser}}" (click)="updateUser(user.iduser)">Update</button>
                <button class="saveUser{{user.iduser}}" (click)="updateSaveUser(user.iduser)" style="display: none">Opslaan</button>
                <input type="button" value="Account Verwijderen" (click)="deleteUser(user.iduser)">
              </li>
            </div>
            
          </ng-container>
        </ul>            
      </form>

</div>