@import '../../variables.scss';

.paswoordreset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 88%;
    text-align: center;

    h2 {
        font-size: 2rem;
        font-weight: bold;

        //mobile
        @media screen and (max-width: $sm_landscape) {
            font-size: 1.5rem;
        }

        @media screen and (min-width: $sm_portrait) and (max-width: $tablet_portrait) {
            font-size: 1.5rem;
        }

        @media screen and (min-width: $sm_portrait) and (max-width: $tablet_portrait) and (orientation: landscape) {
            font-size: 1.5rem;
        }
    }

    p {
        font-size: 12px;
        margin-bottom: 30px;
    }

    input {
        width: 100%;
        padding: 15px 0;
        border: .5px solid $c_gray;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;

        //mobile
        @media screen and (max-width: $sm_landscape) {
            width: 80vw;
        }

        @media screen and (min-width: $sm_portrait) and (max-width: $tablet_portrait) {
            width: 80vw;
        }

        @media screen and (min-width: $sm_portrait) and (max-width: $tablet_portrait) and (orientation: landscape) {
            width: 50vw;
        }
    }

    .knopReset {
        border: none;
        cursor: pointer;
        background: $c_green;
        color: white;
        margin-top: 20px;
        &:hover{
            background: $c_orange;
            transition: background .23s ease-in-out; 
        }
    }
}

#passwordReset_links {
    @media screen and (min-width: $sm_portrait) and (max-width: 824px) and (orientation: landscape) {
        bottom: -20px;
    }
}