<nav>
  <div class="container">
    <a id="title"><h1>{{ title }}</h1></a>
    <ul class="unlist">
      <!-- <li><a class="home" routerLink="/home" routerLinkActive="active-link">Home</a></li>
      <li><a class="login" routerLink="/gebruikers" routerLinkActive="active-link">Gebruikers</a></li>
      <li><a class="register" routerLink="/registreren" routerLinkActive="active-link">Registreren</a></li>
      <li><a class="chat" routerLink="/chat" routerLinkActive="active-link">Chat</a></li>
      <li><a class="passwordReset" routerLink="/paswoord-reset" routerLinkActive="active-link">Paswoord Reset</a></li> -->
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
