@import '../../variables.scss';

.chatContainer {
  padding: 2rem 2rem 0 2rem;
  width: 100%;

  @media screen and(max-width: $small){
    padding: 4rem 1rem 0 1rem;
  }
}

.logout {
  font-size: .8rem;
  text-align: left;
  position: fixed;
  bottom: 32px;
  left: 32px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;

  a{ 
    padding: 10px 15px;
    color: white;
  }

  &:hover, a:hover{
    background: white;
    color: black;
    transition: background .23s ease-in-out; 
    border-radius: 10px;
  }
}

textarea {
  font-size: 1rem;
  text-align: left;
  position: absolute;
  bottom: -1px;
  left: -1px;
  height: 10vh;
  width: 96.75%;
  display: flex;
  padding: 15px 20px;
  border-radius: 0 0 10px 10px;
  border: 1px solid black;
  resize: none;

  @media screen and(max-width: $small) {
    width: 87.63%;
    height: 6vh;
  }
}

#verzendChat {
  font-size: .8rem;
  font-weight: bold;
  text-align: left;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background: #f3f3f3;
  border-radius: 10px;
  padding: 5px 20px;
  cursor: pointer;

    &:hover {
      background: black;
      color: white;
      transition: background .23s ease-in-out; 
    }

  @media screen and (max-width: $small) {
    display: none;
  }
}

#mobileSend {
  font-size: .8rem;
  font-weight: bold;
  text-align: left;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background: #f3f3f3;
  border-radius: 10px;
  padding: 5px 20px;
  cursor: pointer;

  &:hover {
    background: black;
    color: white;
    transition: background .23s ease-in-out; 
  }

  @media screen and (min-width: $tablet_portrait){
    display: none;
  }
}

#emoticonBar{
  position: relative;
  font-size: .8rem;
  text-align: left;
  height: 15vh;
  display: flex;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid black;
  background: #f3f3f3;
  margin-top: 2rem;

  @media screen and(max-width: $small) {
    height: 10vh;
    margin-top: 1rem;
  }
}

#chatScreen{
  font-size: .8rem;
  text-align: left;
  height: 52vh;
  display: flex;
  padding: 15px 20px;
  border: 1px solid black;
  background: white;
  overflow-y: scroll;
  flex-direction: column;
  z-index: 400;

  @media screen and(max-width: $small) {
    
  }

  .name {
    font-weight: bold;
  }

  .bericht{
    padding-left: 10px;
  }
}

#hamburgermenu {
  position: absolute;
  left: 4%;
  top: 14%;
  color: #000;
  font-size: 2rem;
  z-index: 502;

  @media screen and(min-width: $tablet_portrait) {
    display: none;
  }
}

#status{
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  width: 14%;
  min-height: 86vh;
  background: #202020;
  z-index: 501;

  @media screen and(max-width: $small) {
    width: 31%;
    display: none;
    padding-top: 40px;
    position: fixed;
  }

  .statusTitel{
    display: flex;
    padding: 20px 0 10px 0;
    font-weight: bold;
    cursor: pointer;
    color: #999999;
  }

  table{
  
    td{
        display: flex;

        p{
          color: #626262;
        }
    }
    
    .dot {
        height: 10px;
        width: 10px;
        margin: 7px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 15px;
      }
    
      
    #online{
        background-color: $c_green;
        box-shadow: 0px 0px 4px 1px green;
      }

    #onlineBlue{
      background-color: $c_itsmeblue;
      box-shadow: 0px 0px 4px 1px $c_itsmeblue;
    }
    
    #offline{
        background-color: gray;
        box-shadow: 0px 0px 4px 2px #666;
      }

    a{
      padding-left: 7px;

      span[class="fa fa-edit"], span[class="fa fa-cog"]{
        color: gray;
        font-size: 12px;
        cursor: pointer;
      }
    }
  }
}

// The Modal Admin
.modalAdmin {
  display: none; // Hidden by default
  position: fixed; // Stay in place 
  z-index: 1; // Sit on top
  padding-top: 100px; // Location of the box 
  left: 0;
  top: 0;
  width: 100%; // Full width
  height: 100%; // Full height
  overflow: auto; // Enable scroll if needed
  background-color: rgb(0,0,0); // Fallback color
  background-color: rgba(0,0,0,0.4); // Black w/ opacity
  animation: animateModal .5s;
  z-index: 999;

  @media screen and (max-width: $small) {
    padding-top: 0;
  }

  // Modal Content
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;

    @media screen and (max-width: $small) {
      padding: 0;
      width: 100vw;
      min-height: 100vh;
    }

    // The Close Button
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;

      @media screen and (max-width: $small) {
        float: none;
        position: absolute;
        right: 10px;
      }
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

// The Modal Settings
.modalSettings {
  display: none; // Hidden by default
  position: fixed; // Stay in place 
  z-index: 1; // Sit on top
  padding-top: 2%; // Location of the box 
  left: 0;
  top: 0;
  width: 100%; // Full width
  height: 100%; // Full height
  overflow: auto; // Enable scroll if needed
  background-color: rgb(0,0,0); // Fallback color
  background-color: rgba(0,0,0,0.4); // Black w/ opacity
  animation: animateModal .5s;
  z-index: 999;

  @media screen and (max-width: $small) {
    padding-top: 0;
  }

  // Modal Content
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 50%;

    @media screen and (max-width: $small) {
      padding: 0;
      width: 100vw;
      height: auto;
    }
    
    // The Close Button
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;

      @media screen and (max-width: $small) {
        float: none;
        position: absolute;
        right: 10px;
      }
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}


/* Modal animation */
@keyframes animateModal {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}







 