@import '../../variables.scss';

.chatContainer {
  padding: 2rem 2rem 0 2rem;
  width: 100%;

  @media screen and (max-width: $tablet_portrait){
    padding: 4rem 1rem 1rem 1rem;
  }

}

.logout {
  font-size: .8rem;
  text-align: left;
  position: fixed;
  bottom: 32px;
  left: 32px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  background: $c_status;

  //mobile
  @media screen and (max-width: $sm_landscape) {
    display: none;
  }

  @media screen and (min-width: 481px) and (max-width: 767px) {
    display: none;
  }

  a { 
    padding: 10px 15px;
    color: white;
  }

  &:hover, a:hover{
    background: white;
    color: black;
    transition: background .23s ease-in-out; 
    border-radius: 10px;
  }
}

#hamburgermenu {
  position: relative;
  animation-direction: alternate;

  span {
    position: absolute;
    left: 15px;
    top: 15px;
    color: #000;
    font-size: 2rem;
    z-index: 502;
  }

  //tablet portrait
  @media (min-width: 767px) and (max-width: $tablet_portrait) {
    display: none;
  }

  //tablet landscape
  @media screen and (min-width: $tablet_portrait) and (max-width: $tablet_landscape) and (orientation: landscape) {
    display: none;
  }

  //desktop - laptop
  @media screen and (min-width: 1025px) {
    display: none;
  }
}

#logoutIcon {

  span {
    position: absolute;
    right: 20px;
    top: 27px;
    color: $c_red;
    font-size: 1.5rem;
    z-index: 502;
  }

  //tablet portrait
  @media (min-width: 767px) and (max-width: $tablet_landscape) {
    display: none;
  }

  //tablet landscape
  @media screen and (min-width: $tablet_portrait) and (max-width: $tablet_landscape) and (orientation: landscape) {
    display: none;
  }

  //desktop - laptop
  @media screen and (min-width: 1025px) {
    display: none;
  }

}

#status {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  width: 25vw;
  min-height: 95vh;
  background: $c_status;
  z-index: 501;  
  animation: animateStatus .5s;
  animation-direction: normal, reverse;

  //mobile
  @media screen and (max-width: $sm_landscape) {
    display: none;
    width: 45vw;
    position: absolute;
    padding-top: 40px;
  }

  @media screen and (min-width: 481px) and (max-width: 767px) {
    display: none;
    width: 45vw;
    position: absolute;
    padding-top: 40px;
  }


  .statusTitel{
    display: flex;
    padding: 20px 0 10px 0;
    font-weight: bold;
    cursor: pointer;
    color: #999999;
  }

  table {
  
    td {
        display: flex;

        p {
          color: #626262;
        }
    }
    
    .dot {
        height: 10px;
        width: 10px;
        margin: 7px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 15px;
      }
    
      
    #online{
        background-color: $c_green;
        box-shadow: 0px 0px 4px 1px green;
      }

    #onlineBlue{
      background-color: $c_itsmeblue;
      box-shadow: 0px 0px 4px 1px $c_itsmeblue;
    }

    #onlineOrange{
      background-color: #ffa043;
      box-shadow: 0px 0px 4px 1px #f9610d;
    }
    
    #offline{
        background-color: gray;
        box-shadow: 0px 0px 4px 2px #666;
      }

    a {
      padding-left: 7px;

      span[class="fa fa-edit"], span[class="fa fa-cog"], span[class="fas fa-toggle-off"], span[class="fas fa-toggle-on"]{
        color: gray;
        font-size: 12px;
        cursor: pointer;
      }
    }
  }
}

// The Modal Admin
.modalAdmin {
  display: none; // Hidden by default
  position: fixed; // Stay in place 
  z-index: 1; // Sit on top
  padding-top: 100px; // Location of the box 
  left: 0;
  top: 0;
  width: 100%; // Full width
  height: 100%; // Full height
  overflow: auto; // Enable scroll if needed
  background-color: rgb(0,0,0); // Fallback color
  background-color: rgba(0,0,0,0.4); // Black w/ opacity
  animation: animateModal .5s;
  z-index: 999;

  @media screen and (max-width: 767px) {
    padding-top: 0;
  }

  @media (min-width: $tablet_portrait) and (max-width: $tablet_landscape) {
    padding-top: 20%;
  }

  // Modal Content
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;

    @media screen and (max-width: 767px) {
      padding: 0;
      width: 100vw;
      min-height: 100vh;
    }

    // The Close Button
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;

      @media screen and (max-width: 767px) {
        float: none;
        position: absolute;
        right: 10px;
      }
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

// The Modal Settings
.modalSettings {
  display: none; // Hidden by default
  position: fixed; // Stay in place 
  z-index: 1; // Sit on top
  padding-top: 1.5%; // Location of the box 
  left: 0;
  top: 0;
  width: 100%; // Full width
  height: 100%; // Full height
  overflow: auto; // Enable scroll if needed
  background-color: rgb(0,0,0); // Fallback color
  background-color: rgba(0,0,0,0.4); // Black w/ opacity
  animation: animateModal .5s;
  z-index: 999;

  //tablet
  @media screen and (max-width: 767px) {
    padding-top: 0;
  }

  @media screen and (min-width: $tablet_portrait) and (max-width: $tablet_landscape) {
    padding-top: 20%;
  }

  @media screen and (min-width: $tablet_portrait) and (max-width: $tablet_landscape) and (orientation: landscape) {
    padding-top: 5.5%;
  }

  //laptop
  @media screen and (min-width: 1025px) and (max-width: 1280px) {
    padding-top: 12%;
  }

  // Modal Content
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px 30px;
    border: 1px solid #888;
    width: 50%;

    @media screen and (max-width: 767px) {
      padding: 0;
      width: 100vw;
      height: auto;
    }

    @media (min-width: $tablet_portrait) and (max-width: $tablet_landscape) {
      width: 75vw;
    }
    
    // The Close Button
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;

      @media screen and (max-width: 767px) {
        float: none;
        position: absolute;
        right: 10px;
      }
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}


/* Modal animation */
@keyframes animateModal {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* Status animation */
@keyframes animateStatus {
  from {left: -300px; opacity: 0}
  to {left: 0; opacity: 1}
}