<div id="status">
  <a class="statusTitel arrow right" (click)="OnlineTable()">Online <i id="arrowOnline">&#9662;</i></a>
  <table id="tableOnline" style="display: block;"> 
      <ng-container *ngFor="let user of users">
        <tr *ngIf="user.status_idstatus == 1">
          <td *ngIf="user.status_idstatus == 1" id="user{{user.iduser}}">
                <span class="dot"  id="online"></span>
                <p class="{{user.username}}">{{ user.username }}</p>
          </td>
        </tr>
      </ng-container>
  </table>

  <a class="statusTitel" (click)="OfflineTable()">Offline <i id="arrowOffline">&#9662;</i></a>
  <table id="tableOffline" style="display: block;">
      <ng-container *ngFor="let user of users">
        <tr *ngIf="user.status_idstatus == 0" >
          <td id="user{{user.iduser}}">
            <span class="dot"  id="offline"></span>
            <p class="{{user.username}}">{{ user.username }}</p>
          </td>
        </tr>
      </ng-container>
  </table>
</div>

<div id="chatScreen">
  <ng-container  *ngFor="let i of [].constructor(10)">
  <ng-container *ngFor="let user of users; let i=index">
    <p *ngIf="i<1" class="name">😈👑🍷 {{user.username}} says:</p>
    </ng-container>
    <p class="bericht">Dit is een test bericht</p><br>
  <ng-container *ngFor="let user of users">
      <p *ngIf="user.username == 'Pingu'" class="name">🐧🔊 {{user.username}} 🐧🔊 says:</p>
      </ng-container>
      <p class="bericht">NOOT NOOT !!!</p><br>
    </ng-container>
</div>
<div id="emoticonBar"></div>
<textarea></textarea>
<button id="verzendChat">Verzenden</button>

<div class="logout">
  <a routerLink="/home" (click)="logout()">Uitloggen</a>
</div>
