@import '../../variables.scss';

h1 {
    display: flex;
    justify-content: center;
    margin: 30px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: .8rem;

     //mobile
     @media screen and (max-width: $sm_landscape) {
        flex-direction: column;
        padding-bottom: 3rem;
        padding-top: 3rem;
    }

    @media screen and (min-width: $sm_portrait) and (max-width: $tablet_portrait) and (orientation: landscape) {
        flex-direction: row;
    }

    //tablet
    @media screen and (min-width: $tablet_portrait) and (max-width: $tablet_landscape) {
        flex-direction: column;
    }

    @media screen and (min-width: $tablet_portrait) and (max-width: 1367px) and (orientation: landscape) {
        flex-direction: row;
        margin-top: -70px;
    }


    li {
        margin-top: 15px;
    }

    .imageContainer {
        margin-right: 5%;
        border: 13px solid $c_blue;
        border-radius: 20px;
        background: $c_blue;
        width: 23%;
        margin-top: -48px;

        //mobile
        @media screen and (max-width: $sm_landscape) {
            width: 45vw;
            margin: 0;
        }

        //tablet
        @media screen and (min-width: $tablet_portrait) and (max-width: $tablet_landscape) {
            width: 35vw;
            margin: 2rem 0 2rem 0;
        }

        @media screen and (min-width: $tablet_portrait) and (max-width: $tablet_landscape) and (orientation: landscape){
            width: 24vw;
            margin-right: 5rem;
        }

    }

    .formContainer {
        display: flex;
        flex-direction: column;
        width: 50%;

        //mobile
        @media screen and (max-width: $sm_landscape) {
            width: 80vw;
        }

        @media screen and (min-width: $sm_portrait) and (max-width: $tablet_portrait) {
            width: 80vw;
        }

        @media screen and (min-width: $sm_portrait) and (max-width: $tablet_portrait) and (orientation: landscape) {
            width: 50vw;
        }

        //tablet
        @media screen and (min-width: $tablet_portrait) and (max-width: $tablet_landscape) {
            width: 50vw;
        }

        @media screen and (min-width: $tablet_portrait) and (max-width: $tablet_landscape) and (orientation: landscape) {
            width: 50vw;
        }
    }

    [alt="pingu"] {
        border-radius: 10px;
        // margin-bottom: -4px;
        width: 100%;
    }
}



.naamVoornaam {
    width: 100%;
    display: flex;
    justify-content: space-between;

    li {
        display: flex;
        flex-direction: row;
    }

    input {
        width: 200%;
        padding: 15px 0;
        border: .5px solid $c_gray;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;
    }

    .inputVoornaam, .inputAchternaam{
        width: 45%;
    }
}

.registratieVelden{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    input{
        width: 100%;
        padding: 15px 0;
        border: .5px solid $c_gray;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;
    }

    [type=submit]{
        background: $c_green;
        color: white;
        border: none;
        cursor: pointer;
        
        &:hover{
            background: $c_orange;
            transition: background .23s ease-in-out; 
        }
    }
}

.links {
    text-align: right;
    position: fixed;
    bottom: 32px;
    right: 60px;
    display: flex;
    flex-direction: column;
    text-decoration: underline;

    //mobile
    @media screen and (max-width: $sm_landscape) {
        bottom: 25px;
        right: 25px;
    }

    @media screen and (min-width: $sm_portrait) and (max-width: $tablet_portrait) and (orientation: landscape) {
        position: absolute;
        right: 20px;
    }

    //tablet
    @media screen and (min-width: $tablet_portrait) and (max-width: $tablet_landscape) and (orientation: landscape) {
        position: absolute;
        right: 20px;
    }
}

#registerLinks {
    //mobile
    @media screen and (max-width: $sm_landscape) {
        position: absolute;
        bottom: 15px;
        right: 25px;
    }

    @media screen and (min-width: $sm_portrait) and (max-width: $tablet_portrait) and (orientation: landscape) {
        position: absolute;
        bottom: 15px;
        right: 25px;
    }

    //tablet
    @media screen and (min-width: $tablet_portrait) and (max-width: $tablet_landscape) and (orientation: landscape) {
        position: absolute;
        bottom: 15px;
        right: 25px;
    }
}
