<h1>Register</h1>
  <form #personForm="ngForm"(ngSubmit)="onSubmit(personForm.value)" id="form" >
    <ul class="unlist">
      <li>
          <label for="user_firstname">Voornaam *</label>
          <input type="text" placeholder="Voornaam" name="user_firstname" [(ngModel)]="user_firstname" required>
      </li>
      <li>
          <label for="user_lastname">Achternaam *</label>
          <input type="text" placeholder="Achternaam" name="user_lastname" [(ngModel)]="user_lastname" required>
      </li>
      <li>
          <label for="username">Gebruiksernaam *</label>
          <input type="text" placeholder="Gebruikersnaam" name="username" [(ngModel)]="username" required>
      </li>
      <li>
          <label for="user_email">E-mail *</label>
          <input type="email" placeholder="E-mail" name="user_email" [(ngModel)]="user_email" required>
      </li>
      <li>
          <label for="user_password">Paswoord *</label>
          <input type="password" placeholder="Paswoord" name="user_password" [(ngModel)]="user_password" required>
      </li>
      <li>
          <label for="user_passwordCheck">Herhaal Paswoord *</label>
          <input type="password" placeholder="Paswoord" name="user_passwordCheck" [(ngModel)]="user_passwordCheck" required>
      </li>
      <li>
          <input type="submit" value="Registreren">
      </li>
    </ul>
  </form>