@import '../../variables.scss';

.imageContainer{
    border: 13px solid $c_blue;
    border-radius: 20px;
    background: $c_blue;
    width: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    [alt="pingu"]{
        border-radius: 10px;
        width: 100%;
    }

    //mobile
    @media screen and (max-width: $sm_landscape) {
        width: 45vw;
    }

    @media screen and (min-width: $sm_portrait) and (max-width: 824px) and (orientation: landscape) {
        width: 30vw;
        margin-right: 2rem;
    }

    //tablet
    @media screen and (min-width: $tablet_portrait) and (max-width: $tablet_landscape) {
        width: 40vw;
    }

    @media screen and (min-width: $tablet_portrait) and (max-width: 1367px) and (orientation: landscape) {
        width: 25vh;
        margin-top: 2rem;
    }
    
}



login {
    width: 25%;

    //mobile
    @media screen and (max-width: $sm_landscape) {
        width: 80vw;
    }

    @media screen and (min-width: $sm_portrait) and (max-width: $tablet_portrait) and (orientation: landscape) {
        width: 50vw;
    }

    //tablet
    @media screen and (min-width: $tablet_portrait) and (max-width: $tablet_landscape) {
        width: 80vw;
    }

    @media screen and (min-width: $tablet_portrait) and (max-width: 1367px) and (orientation: landscape) {
        width: 50vw;
    }

}

.links {
    a {
        color: $c_darkgray;
    }
}