@import '../../variables.scss';

.imageContainer{
    border: 13px solid $c_blue;
    border-radius: 20px;
    background: $c_blue;
    width: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    [alt="pingu"]{
        border-radius: 10px;
        width: 100%;
    }
}



login{
    width: 25%;
}

.links {
    a {
        color: $c_darkgray;
    }
}