@import '../../variables.scss';

.imageContainer{
    border: 13px solid $c_blue;
    border-radius: 20px;
    background: $c_blue;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    [alt="pingu"]{
        border-radius: 10px;
        margin-bottom: -4px;
        width: 100%;
    }
}



login{
    width: 25%;
}

