<!-- <h1>Inloggen</h1> -->
  <form class="loginForm" #loginForm="ngForm" (ngSubmit)="onSubmitLogin(loginForm.value)" id="loginform">
    <ul class="unlist loginInput">
      <li>
          <input type="email" placeholder="E-mail" name="user_email" id="email" [(ngModel)]="user_email" required>
      </li>
      <li>
          <input type="password" placeholder="Paswoord" name="user_password" id="paswoord" [(ngModel)]="user_password" required>
      </li>
      <li>
          <input type="submit" value="Aanmelden" class="knopAanmelden">
      </li>
    </ul>
  </form>