/* You can add global styles to this file, and also import other style files */

@import "app/home/home.component.scss";
@import "app/login/login.component.scss";
@import "app/register/register.component.scss";
@import "app/users/users.component.scss";
@import 'variables.scss';


/* general styles */

* { font: 100 100%/1.4  Arial, Helvetica, sans-serif; }

.links { font-size: .8rem; }

html, body {
    background: #eee;
    height: 100%;

    //tablet
    @media screen and (min-width: $tablet_landscape) {
        overflow-y: hidden;
    }
}

//add buzzer animation
.buzzer {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

//buzzer animation
@keyframes shake {
    10%, 90% {
      transform: translate3d(-25px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(50px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-100px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(100px, 0, 0);
    }
  }

app-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    flex-direction: column; 

    //mobile landscape
    @media screen and (min-width: $sm_portrait) and (max-width: 824px) and (orientation: landscape) {
        height: 90%;
        align-items: flex-start;
        position: relative;
        flex-direction: row;
        margin-top: 3rem;
    }
}

register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;

    //mobile
    @media screen and (max-width: $sm_landscape) {
        position: relative;
        padding-top: 2rem;
        padding-bottom: 4rem;
    }

    @media screen and (min-width: $sm_portrait) and (max-width: $tablet_portrait) and (orientation: landscape) {
        position: relative;
        height: 100%;
        padding-top: 2rem;
        padding-bottom: 4rem;
    }

    @media screen and (min-width: 481px) and (max-width: 767px) {
        position: relative;
        height: 100%;
        padding-top: 2rem;
        padding-bottom: 4rem;
    }

    @media screen and (min-width: $tablet_portrait) and (max-width: 823px) and (orientation: landscape) {
        position: relative;
        height: 100%;
        padding: 4rem 0 4rem 0;
    }

}

app-chat { 
  display: flex; 
   min-height: 100vh;

  //mobile
  @media screen and (max-width: $sm_landscape) {
    min-height: auto;
  }
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   reset css
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, 
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, 
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none; 
}
  
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
  
blockquote {
    &:before, &:after {
      content: '';
      content: none; 
    } 
}
  
q {
    &:before, &:after {
      content: '';
      content: none;
    }
}
  
table {
    border-collapse: collapse;
    border-spacing: 0; 
}