@import '../../variables.scss';

.sendContainer {
  position: relative;

  #textContainer {
    width: 100%;
    border-radius: 0 0 10px 10px;
    border: 1px solid black;
    border-top: 0px;
    background: #fff;
  }
}

textarea {
    font-size: 1rem;
    text-align: left;
    height: 10vh;
    width: 77%;
    display: flex;
    padding: 10px 0 0 10px;
    border-radius: 0 0 10px 10px;
    border: none;
    resize: none;
  
    @media screen and (min-width: $sm_landscape){
      height: 15vh;
    }

    &:focus {
      outline: none;
    }
  }

#verzendChat {
  font-size: .8rem;
  font-weight: bold;
  text-align: left;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background: #f3f3f3;
  border-radius: 10px;
  padding: 5px 20px;
  cursor: pointer;

    &:hover {
      background: black;
      color: white;
      transition: background .23s ease-in-out; 
    }

  //mobile
  @media screen and (max-width: $sm_landscape) {
    display: none;
  }

  @media screen and (min-width: 481px) and (max-width: $tablet_portrait) {
    display: none;
  }

  //tablet portrait
  @media (min-width: $tablet_portrait) and (max-width: $tablet_landscape) {
    display: none;
  }
}

#mobileSend {
  font-size: .8rem;
  font-weight: bold;
  text-align: left;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background: #f3f3f3;
  border-radius: 10px;
  padding: 5px 20px;
  cursor: pointer;

  &:hover {
    background: black;
    color: white;
    transition: background .23s ease-in-out; 
  }

  //desktop - laptop
  @media screen and (min-width: 1025px) {
    display: none;
  }
}

#buzzer{
  color: burlywood;
  font-size: .8rem;
  font-weight: bold;
  text-align: left;
  position: absolute;
  bottom: 45px;
  right: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background: #f3f3f3;
  border-radius: 10px;
  padding: 3px 9px;
  cursor: pointer;
}

#emoticonBar{
  position: relative;
  font-size: .8rem;
  text-align: left;
  display: flex;
  align-items: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid black;
  background: #f3f3f3;
  height: 4vh;
  margin-top: 1rem;
  width: 100%;
  padding: 0;

  @media screen and (min-width: $sm_landscape){
    height: 5vh;
  }

  span {
    margin: 0px 10px;
  }

}

#chatScreen{
  font-size: .8rem;
  text-align: left;
  height: 52vh;
  display: flex;
  padding: 15px 20px;
  border: 1px solid black;
  background: white;
  overflow-y: scroll;
  flex-direction: column;
  z-index: 400;
  word-break: break-word;

  .name {
    font-weight: bold;
  }

  .bericht {
    padding-left: 10px;
  }

  .oldText {
    color:rgb(177, 177, 177);
    animation: animateOldMsg .5s;
  }

  .hrInfo{
    text-align: center;
    color: rgb(177, 177, 177);
  }

  hr {
    clear:both;
    display:block;
    width: 100%;               
    background-color: lightgray;
    height: 1px;
  }

}

// The Modal Settings
.modalSmiley {
    display: none; // Hidden by default
    position: fixed; // Stay in place 
    z-index: 1; // Sit on top
    padding-top: 2%; // Location of the box 
    left: 0;
    top: 0;
    width: 100%; // Full width
    height: 100%; // Full height
    overflow: auto; // Enable scroll if needed
    background-color: rgb(0,0,0); // Fallback color
    background-color: rgba(0,0,0,0.4); // Black w/ opacity
    animation: animateModal .5s;
    z-index: 999;
  
    //tablet
    @media screen and (max-width: 767px) {
      padding-top: 0;
    }
  
    @media screen and (min-width: $tablet_portrait) and (max-width: $tablet_landscape) {
      padding-top: 20%;
    }
  
    @media screen and (min-width: $tablet_portrait) and (max-width: $tablet_landscape) and (orientation: landscape) {
      padding-top: 5.5%;
    }
  
    //laptop
    @media screen and (min-width: 1025px) and (max-width: 1280px) {
      padding-top: 12%;
    }
  
    // Modal Content
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      width: 89%; 
      padding: 30px; 
      border: none;

      @media screen and (max-width: 767px) {
        padding: 0;
        width: 100vw;
        min-height: 100vh;
      }
  
      @media (min-width: $tablet_portrait) and (max-width: $tablet_landscape) {
        width: 75vw;
      }

      .modal-emoji {
        display: flex; 
        flex-wrap: wrap;

        //mobile
        @media screen and (max-width: 767px) {
          margin: auto;
          width: 94vw;
        }

        @media screen and (max-width: 767px) and (orientation: landscape) {
          width: 92vw;
        }
    
        //tablet
        @media (min-width: $tablet_portrait) and (max-width: $tablet_landscape) {
          margin-left: 10px;
          width: 77vw;
        }

        @media (min-width: $tablet_portrait) and (max-width: $tablet_landscape) and (orientation: landscape) {
          margin-left: 0;
          width: 77vw;
        }

        @media (min-width: $tablet_landscape) and (max-width: 1366px) {
          margin-left: 0;
          width: 77vw;
        }

        @media (min-width: $tablet_landscape) and (max-width: 1366px) and (orientation: landscape) {
          margin-left: 10px;
          width: 89vw;
        }

      }
      
      // The Close Button
      .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
  
        @media screen and (max-width: 767px) {
          float: none;
          position: absolute;
          right: 10px;
        }
      }
  
      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }

      h3 {
        padding: 1.5rem 0;
      }
    }
  }
  
  
  /* Modal animation */
  @keyframes animateModal {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

  /* Old messages animation */
  @keyframes animateOldMsg {
    from {opacity: 0}
    to {opacity: 1}
  }