<div id="chatScreen">
    <!-- <li class="bericht" *ngFor = "let msg of messages">{{msg|json}}</li> -->
    <div class="bericht" *ngFor = "let msg of messages" [innerHtml]="msg | emojify"></div>
</div>

<div class="sendContainer">
  <div id="emoticonBar"></div>
  <div id="textContainer">
    <textarea #chatMessage (keydown.enter)="sendMessage(chatMessage.value, $event)" id="chatMessage" [ngModel]="chatMessage.value | emojify" (ngModelChange)="chatMessage.value = $event"></textarea>
  </div>
  <button id="verzendChat" (click)="sendMessage(chatMessage.value, $event)">Verzenden</button>
  <button id="mobileSend" (click)="sendMessage(chatMessage.value, $event)"><span class="fas fa-paper-plane"></span></button>
</div>