<table>
  <thead>
    <h1>Gebruikers</h1>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" id="tr{{user.iduser}}">
      <td>Gebruiksernaam: <input class="username{{user.iduser}}" [value]="user.username"></td>
      <td>Paswoord: <input [value]="user.user_password"></td>
      <button class="update{{user.iduser}}" (click)="updateRequest(user.iduser)">Bewerk</button>
      <button class="save{{user.iduser}}" (click)="updateSave(user.iduser)" style="display: none">Opslaan</button>
      <input type="button" value="Delete" (click)="deleteRequest(user.iduser)">
    </tr>
  </tbody>
</table>