@import '../../variables.scss';

.usersTable{
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 767px){
        padding: 2rem;
    }

    thead {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 20px;  
        text-align: center;
        
        @media screen and (max-width: $tablet_portrait){
            margin-bottom: 30px;
        }
        span {
            font-size: 15px;
            padding: 6px 0 6px 6px;
        }
    }

    tbody {
        a {
            cursor: pointer;
            font-weight: 600;
            display: block;
        }

        tr {
            display: flex;
            margin-bottom: 10px;

            @media screen and(max-width: $tablet_portrait){
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
            }

            td {
                margin-right: 10px;
                width: 20%;

                &:last-of-type {
                    margin-right: 0;
                }

                @media screen and(max-width: $tablet_portrait) {
                    display: flex;
                    justify-content: space-between;
                    margin-right: 0;
                    margin-bottom: 10px;
                    width: 100%;
                }

                input {
                    @media screen and(max-width: $tablet_portrait) {
                        width: 45%;
                    }
                }
            }
        }

        button {
            color: white;
            background: green;
            border: 1px solid green;
            border-radius: 10px;
            margin: 0 15px 15px 0;
            padding: 5px 15px;
            cursor: pointer;

            &:hover {
                background: white;
                color: green;
                transition: background .23s ease-in-out; 
            }
        }

        .editInput{
            box-shadow: 0px 0px 9px 0px rgb(0, 64, 246);
        }

        input[type="text"],
        input[type="email"], 
        input[type="password"]{
            border: 0.4px solid #909090;
            border-radius: 10px;
            padding: 5px 0;
            text-align: center;
        }


        input[type="button"] {
            color: white;
            background: red;
            border: 1px solid red;
            border-radius: 10px;
            padding: 5px 15px;
            cursor: pointer;

            &:hover {
                background: white;
                color: red;
                transition: background .23s ease-in-out; 
            }
        }
    }

}